<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zan.csgo.mapper.SkinPriceRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zan.csgo.core.model.SkinPriceRecordEntity">
        <id column="id" property="id" />
        <result column="skin_market_hash_name" property="skinMarketHashName" />
        <result column="platform" property="platform" />
        <result column="record_time" property="recordTime" />
        <result column="current_price" property="currentPrice" />
        <result column="lowest_price" property="lowestPrice" />
        <result column="highest_price" property="highestPrice" />
        <result column="sell_listings" property="sellListings" />
        <result column="volume_24h" property="volume24h" />
        <result column="change_24h" property="change24h" />
        <result column="version" property="version" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
        <result column="changed_by" property="changedBy" />
        <result column="changed_at" property="changedAt" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, skin_market_hash_name, skin_name, skin_type, skin_weapon, skin_quality,
        skin_exterior, skin_image_url, is_stattrak, is_souvenir
        version, created_by, created_at, changed_by, changed_at, del_flag
    </sql>

</mapper>
